<section id="kontak">
	<div class="baris">
		<div class="zeen-12">
			<h1>Kontak</h1>
		</div>
	</div>
	<div class="garis"></div>
	<div class="baris">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, reiciendis aliquid quod necessitatibus illo doloremque voluptatem id doloribus officia iste aut suscipit delectus quibusdam iure libero rerum quae aspernatur tenetur!
		</p>
	</div>
</section>
<div class="garis"></div>