<section id="fitur">
    <div class="baris">
        <div class="zeen-12">
            <h1>
                Fitur Hosting Dazzlespeed
            </h1>
        </div>
        <div class="garis"></div>
    </div><!-- baris -->
    <h2>Fitur Utama</h2>
    <div class="baris">
        <div class="zeen-6">
            <i class="foundicon-people"></i>
            <h2>Support 24/7</h2>
            <p>Kami selalu memonitor performance server kami dalam 24 x 7. Selain itu kami juga senantiasa ada disini untuk membantu pelanggan jika terjadi kesulitan dalam menggunakan layanan Paduhost Indonesia.</p>
        </div>
        <div class="zeen-6">
	        <i class="foundicon-lock"></i>
            <h2>cPanel Based</h2>
            <p>Layanan Hosting kami menggunakan cPanel sebagai web based hosting management tools yang paling banyak diadopsi oleh web hosting diseluruh dunia. Kemudahan, keamanan, kompatibilitas, dan kehandalan menjadikan cPanel sebagai pilihan utama kami</p>
        </div>
	</div> <!-- baris -->
    <div class="baris">
        <div class="zeen-6">
            <i class="foundicon-people"></i>
            <h2>Support 24/7</h2>
            <p>Kami selalu memonitor performance server kami dalam 24 x 7. Selain itu kami juga senantiasa ada disini untuk membantu pelanggan jika terjadi kesulitan dalam menggunakan layanan Paduhost Indonesia.</p>
        </div>
        <div class="zeen-6">
            <i class="foundicon-lock"></i>
            <h2>cPanel Based</h2>
            <p>Layanan Hosting kami menggunakan cPanel sebagai web based hosting management tools yang paling banyak diadopsi oleh web hosting diseluruh dunia. Kemudahan, keamanan, kompatibilitas, dan kehandalan menjadikan cPanel sebagai pilihan utama kami</p>
        </div>
    </div> <!-- baris -->
    <!-- akhir fitur utama -->
    <div class="garis"></div>
    <h2>Fitur Tambahan</h2>
    <div class="baris">
        <div class="zeen-3">
            <h2>Fitur Akun</h2>
            <ul>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
             </ul>     
        </div>
        <div class="zeen-3">
            <h2>Fitur Control Panel</h2>
            <ul>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
             </ul> 
        </div>
        <div class="zeen-3">
            <h2>Fitur Email</h2>
            <ul>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
             </ul> 

        </div>
        <div class="zeen-3">
            <h2>Fitur Domain & IP</h2>
            <ul>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
             </ul> 
             <h2>Fitur Statistik Website</h2>
            <ul>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
                 <li>detail fitur akun</li>
             </ul>
        </div>

    </div> <!-- baris -->
</section>


<div class="baris"></div>
