<section id="fitur">
    <div class="baris">
        <div class="zeen-12">
            <h1>
                Fitur Hosting Dazzlespeed
            </h1>
        </div>
        <div class="garis"></div>
    </div><!-- baris -->
    <h2>Fitur Utama</h2>
    <div class="baris">
        <div class="zeen-6">
            <i class="foundicon-people"></i>
            <h2>LiteSpeed Web Server</h2>
            <p>LiteSpeed web server is up to 9 times faster than Apache web server. It increases performance of PHP by 50% and SSL by 3 times.</p>
        </div>
        <div class="zeen-6">
	        <i class="foundicon-lock"></i>
            <h2>Pure Solid-State Drive Storage</h2>
            <p>Our servers are powered by solid-state drives (SSD) which are up to 100 times faster than regular hard disk drives to ensure maximum performance and reliability</p>
        </div>
	</div> <!-- baris -->
    <div class="baris">
        <div class="zeen-6">
            <i class="foundicon-people"></i>
            <h2>cPanel Control Panel</h2>
            <p>cPanel is the most popular control panel with a user friendly point-and-click interface that allows you to customize your hosting experience to fit your needs</p>
        </div>
        <div class="zeen-6">
            <i class="foundicon-lock"></i>
            <h2>Free cPanel Migration</h2>
            <p>Moving from a cPanel host? Our technicians will migrate your data and ensure zero downtime throughout the entire process.</p>
        </div>
    </div> <!-- baris -->
    <!-- akhir fitur utama -->
    <div class="garis"></div>
    <h2>Fitur Tambahan</h2>
    <div class="baris">
        <div class="zeen-3">
            <h2>Fitur Akun</h2>
            <ul>
                 <li>Unlimited MySQL 5 Databases</li>
                 <li>Unlimited FTP Accounts</li>
                 <li>SSH</li>
                 <li>PHP 5.3</li>
                 <li>PEAR</li>
                 <li>Zend Optimizer</li>
                 <li>Ioncube Loader</li>
                 <li>Ruby On Rails</li>
                 <li>Perl</li>
                 <li>CGI</li>
                 <li>Python</li>
                 <li>Server Side Includes</li>
                 <li>cURL</li>
                 <li>GD2</li>
             </ul>     
        </div>
        <div class="zeen-3">
                <ul>
                    <li>Cron Jobs</li>
                    <li>ImageMagick</li>
                    <li>Zend Framework</li>
                    <li>FFmpeg</li>
                    <li>Flv2tools</li>
                    <li>LAME MP3 Encoder</li>
                    <li>Libogg & Libvorbis</li>
                    <li>Mplayer & Mencoder</li>
                </ul>
            <h2>Fitur Control Panel</h2>
            <ul>
                 <li>Latest cPanel</li>
                 <li>Softaculous</li>
                 <li>RVSiteBuilder Pro</li>
                 <li>R1Soft CDP Backups</li>
                 <li>CloudFlare CDN Plugin</li>
                 <li>Custom Error Pages</li>
             </ul> 
        </div>
        <div class="zeen-3">
            <ul>
                <li>IP Deny Manager</li>
                <li>Hotlink Protection</li>
                <li>Password Protect Directories</li>
                <li>Redirects</li>
                <li>phpMyAdmin</li>
            </ul>
            <h2>Fitur Email</h2>
            <ul>
                 <li>Unlimited POP3 Accounts</li>
                 <li>Unlimited POP3 Accounts</li>
                 <li>Unlimited E-Mail Forwarders</li>
                 <li>Web Mail</li>
                 <li>Mailing Lists</li>
                 <li>Spam Assassin</li>
                 <li>SMTP</li>
                 <li>IMAP</li>
                 <li>SPF & DomainKeys</li>
             </ul> 

        </div>
        <div class="zeen-3">
            <h2>Fitur Domain & IP</h2>
            <ul>
                 <li>Unlimited Sub Domains</li>
                 <li>Unlimited Add-On Domains</li>
                 <li>Unlimited Parked Domains</li>
                 <li>Dedicated IP ($1.95/mo)</li>
             </ul> 
             <h2>Fitur Statistik Website</h2>
            <ul>
                 <li>Awstats</li>
                 <li>Webalizer</li>
                 <li>Logaholic</li>
                 <li>Access Logs</li>
                 <li>Error Logs</li>
                 <li>Bandwidth Usage</li>
                 <li>Diskspace Usage</li>
             </ul>
        </div>

    </div> <!-- baris -->
</section>


<div class="baris"></div>
