<div class="baris">
    <article id="slide">
        <div class="zeen-7">
            <h2>Headline Dazzespeed</h2>
            <p>
                Dazzle Speed menyediakan web hosting murah dan handal, pendaftaran domain murah, dan jasa web desain, accusantium, illum rem totam repellat atque sit nemo recusandae et ipsa inventore optio expedita voluptates ab dolorem non sed nihil da.
            </p>
            <button>Lanjut</button> 
        </div>
        <img src="img/server.png" alt="">    
    </article>
</div>   
            
<div class="baris">
    <article id="paket">
        <section class="">
            <div class="zeen-3">
                <div class="wrap">
                    <h2>Paket <span>Mini</span></h2>
                    <ul>
                        <li>100MB <span>Space</span>  </li>
                        <li>2000MB <span>Bandwidth</span></li>
                    </ul>
                    <p>50K <span>/thn</span></p>
                    <button>
                        Beli
                    </button>
                </div>
            </div>
            <div class="zeen-3">
                <div class="wrap">
                    <h2>Paket <span>Medium</span></h2>
                    <ul>
                        <li>250MB <span>Space</span></li>
                        <li>5000MB <span>Bandwidth</span></li>
                    </ul>
                    <p>100K <span>/thn</span></p>
                    <button>
                        Beli
                    </button>
                </div>
            </div>
            <div class="zeen-3">
                <div class="wrap">
                    <h2>Paket <span>Jumbo</span></h2>
                    <ul>
                        <li>500MB <span>Space</span></li>
                        <li>10000MB <span>Bandwidth</span></li>
                    </ul>
                    <p>200K <span>/thn</span></p>
                    <button>
                        Beli
                    </button>
                </div>
            </div>
            <div class="zeen-3">
                <div class="wrap">
                    <h2>Paket <span>Mega</span></h2>
                    <ul>
                        <li>1GB <span>Space</span></li>
                        <li>20GB <span>Bandwidth</span></li>
                    </ul>
                    <p>300K <span>/thn</span></p>
                    <button>
                        Beli
                    </button>
                </div>
            </div>
        </section>
    </article><!-- #paket -->
</div>
<div class="baris">
    <article id="fitur">
        <div class="baris">
            <div class="zeen-6">
                <h2>LiteSpeed Web Server</h2>
                <p>LiteSpeed web server is up to 9 times faster than Apache web server. It increases performance of PHP by 50% and SSL by 3 times.</p>
            </div>
            <div class="zeen-6">
                <h2>Pure Solid-State Drive Storage</h2>
                <p>Our servers are powered by solid-state drives (SSD) which are up to 100 times faster than regular hard disk drives to ensure maximum performance and reliability</p>
            </div>
        </div>
        <div class="baris">
            <div class="zeen-6">
                <h2>cPanel Control Panel</h2>
                <p>cPanel is the most popular control panel with a user friendly point-and-click interface that allows you to customize your hosting experience to fit your needs</p>
            </div>

            <div class="zeen-6">
                <h2>Free cPanel Migration</h2>
                <p>Moving from a cPanel host? Our technicians will migrate your data and ensure zero downtime throughout the entire process.</p>
            </div>
        </div>
        <div class="baris">
            <div class="garis zeen-12">
                <button>Detail Fitur</button>

            </div>
        </div>  
    </article><!-- #fitur -->
</div>
<div class="baris">
    <article id="support">
        <img src="img/support/cloudlinux.png" alt="">
        <img src="img/support/litespeed.png" alt="">
        <img src="img/support/cpanel.png" alt="">
        <img src="img/support/ffmpeg.png" alt="">
        <img src="img/support/r1soft.png" alt="">
        <img src="img/support/rv.png" alt="">
        <img src="img/support/cloudflare.png" alt="">
    </article>
</div>