<div class="baris">
    <div class="bungkus">
        <h1 class="logo">
            <a href="/">
                <img src="img/logo.png" alt="Dazzlespeed">
            </a>
        </h1>
        <nav>
            <li><a href="/">Beranda</a></li>
            <li><a href="#">Tentang</a></li>
            <li><a href="/fitur">Fitur</a></li>
            <li><a href="#">Hosting</a></li>
            <li><a href="#">Kontak</a></li>
        </nav>
    </div> 
</div> 