body{
	background: $bg; //image-url('bg.png') left top;
}

a{
	color: $mainColor;
}

button{
	@include tombol;
	// background: $mainColor;
	// @include border-radius(5px);
	// color: #fff;
	// font-size: $mainFontSize;
	// padding: 10px;
	// border: 0px;
}
h1,h2{
	font-family: 'Armata', sans-serif;
}

.garis{
	text-align: center;
	&:after{
		margin-top: -18px;
		content:"";
		border-top: 1px solid darken($bg,20%);
		display: block;
		clear: both;
	}
}
/*******************************************************************************/
/*     header
/*******************************************************************************/

header{
	border-top: solid 15px $mainColor;
	@include box-shadow(2px 0 20px lighten($secColor,20%));
	width: 100%;
	position: fixed;
	z-index: 99;
	background: #fff;
}

.logo{
	float: left;
	margin-bottom: 10px;
}
nav{
	float: right;
	// margin-top: 20px;
	li{
		float: left;
		list-style: none;
		a{
			@include main-transition;
			@include main-font;
			font-size: $mainFontSize;
			display: block;
			padding: 40px 10px 30px 10px;
			color: $secColor;
			text-decoration: none;
			&:hover{
				color: $thirdColor;
				background: $mainColor;
			}
			&.active{
				border-bottom: 5px solid $mainColor;
				padding: 40px 10px 25px 10px;
			}
		}
	}
}

/*******************************************************************************/
/*     section
/*******************************************************************************/

section.bungkus{
	padding-top: 50px;
}

#slide{
	@include main-font;
	h2{
		color: $mainColor;
		margin: 0;
	}
	p{
		font-size: 15px;
		line-height: 20px;
	}
	.zeen-7{
		padding-top: 85px;
	}
	img{
		float: right;
	}
}

#paket{
	@include box-shadow(0px 75px 0 -30px darken($mainColor,10%) inset);
	@include border-radius(5px);
	background: $mainColor;
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
	// background: #fff;
	// padding:10px;
	overflow: hidden;
	// @include box-shadow;

	h2{
		margin-top: 0;
		color:darken($thirdColor,20%);
		// padding: 10px;
		// background: darken($mainColor,10%);
		span{
			color: $thirdColor;
		}
	}

	section{
		color: #fff;
		padding: 5px;
		overflow: hidden;
		
	}
	.wrap{
		padding: 10px;
	}
}

/*******************************************************************************/
/*     fitur
/*******************************************************************************/

#fitur{
	margin: $mainSectionMargin;
	h2{
		color: $mainColor;
		margin: 5px 0;
	}
	button{
		@include box-shadow(0 0 0 5px $bg);
	}
}

/*******************************************************************************/
/*     support
/*******************************************************************************/

#support{
	// @include transition-duration(1s);
	margin: $mainSectionMargin;
	padding: 25px 0;
	text-align: center;
	background: #fff;
	img{
		@include transition-duration(1s);
		opacity:0.5;
		margin: 0 5px;
	}
	&:hover>img{
		// @include transition-duration(1s);
		opacity:1;
	}

}